**Python Basics**
  * Conditional programming
  * Loops - for/while
  * functions

In [ ]:
age = 21

if age > 18:
  print("You are allowed to vote")
else:
  print("You are not allowed to vote")

You are allowed to vote

In [ ]:
#if mark_obtained > 40 then print("Pass") else print("Fail")

mark_obtained = int(input("Enter mark obtained:-"))       #in python user entered values are non-numerical

if mark_obtained >= 40:
  print("Pass")
else:
  print("Fail")

Enter mark obtained:-55
Pass

In [ ]:
#Multiple conditions

#marks >= 80 => Pass with Excelence
#marks >= 60 => Pass with First Class
#marks >= 40 => Pass
#marks < 40 => Fail

mark_obtained = int(input("Enter mark obtained:-"))       #in python user entered values are non-numerical

if mark_obtained >= 80:
  print("Pass with excellence")
if mark_obtained >= 60:
  print("Pass with First class")
if mark_obtained >= 40:
  print("Pass")
if mark_obtained < 40:
  print("Fail")

Enter mark obtained:-89
Pass with excellence
Pass with First class
Pass

In [ ]:
#marks >= 80 => Pass with Excelence
#marks >= 60 => Pass with First Class
#marks >= 40 => Pass
#marks < 40 => Fail

mark_obtained = int(input("Enter mark obtained:-"))       #in python user entered values are non-numerical

if mark_obtained >= 80:
  print("Pass with excellence")
elif mark_obtained >= 60:
  print("Pass with First class")
elif mark_obtained >= 40:
  print("Pass")
elif mark_obtained < 40:
  print("Fail")
else:
  print("Enter a acceptable value")

Enter mark obtained:-55
Pass

In [ ]:
#WAP to check user entered age
#If age is more then 65 then print => "You can get senior citizen disvount"
#if age is more then 20 then print => "You can get seasonal discount"
#for age less then 20 print => You can get campus/student discount

age=int(input("Enter your age:"))

if age > 65:
  print("You can get senior citizen disvount")
elif age > 20:
  print("You can get seasonal discount")
else:
  print("You can get campus/student discount")

Enter your age:15
You can get campus/student discount

In [ ]:
#login program

ulogin = input("Enter UserId")
upassword = input("Enter password")

#compare login is "admin" and password is "password" then print => "Login Successfull"
#else print => "Login failed"

if ulogin == "admin" and upassword == "password":
  print("Login Successfull")
else:
  print("Login failed")

Enter UserIdadgj
Enter passwordhjkl
Login failed

**Loops - for loop**

In [ ]:
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")
print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
for i in range(0,5):
  print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
for i in range(0,3):
  ulogin = input("Enter UserId")
  upassword = input("Enter password")

  if ulogin == 'admin' and upassword == 'password':
    print("Login Successfull")
    break
  else:
    print("try again")

Enter UserIdfghj
Enter passwordfghj
try again
Enter UserIdadmin
Enter passwordpassword
Login Successfull

In [ ]:
salaries = [45000,55000,40000,60000,30000]

#Write a program to increses the salary by 10%

salaries[0] = salaries[0] + salaries[0]*0.1
salaries[1] = salaries[1] + salaries[1]*0.1
salaries[2] = salaries[2] + salaries[2]*0.1
salaries[3] = salaries[3] + salaries[3]*0.1
salaries[4] = salaries[4] + salaries[4]*0.1

print(salaries)

[49500.0, 60500.0, 44000.0, 66000.0, 33000.0]

In [ ]:
salaries = [45000,55000,40000,60000,30000]

for i in range(0,5):
  salaries[i] = salaries[i] + salaries[i] * 0.1

print(salaries)

[49500.0, 60500.0, 44000.0, 66000.0, 33000.0]

In [ ]:
salaries = [45000,55000,40000,60000,30000]

updated_salaries = []

for value in salaries:
  new_salary = value + value * 0.1
  updated_salaries.append(new_salary)

print(updated_salaries)

[49500.0, 60500.0, 44000.0, 66000.0, 33000.0]

**Loop - While loop**

In [ ]:
if True:
  print("Hello World!!")

Hello World!!

In [ ]:
i = 0
while i < 7:
  print(i , "Hello World!!")
  i = i + 1

0 Hello World!!
1 Hello World!!
2 Hello World!!
3 Hello World!!
4 Hello World!!
5 Hello World!!
6 Hello World!!

In [ ]:
#WAP for login which can give mutiple chances to enter user id and password until they entered correctly

ulogin = ""
upass = ""

while ulogin != "admin" or upass != "password":
  ulogin = input("Enter UserId")
  upass = input("Enter password")
else:
  print("Login Successfull")

Enter UserIddfghj
Enter passwordhjkl;
Enter UserIdadmin
Enter passwordghjk
Enter UserIddfghj
Enter passwordpassword
Enter UserIdadmin
Enter passwordpassword
Login Successfull

**function**

In [ ]:
def say_hello():
  print("Hello World")

In [ ]:
say_hello()
say_hello()

Hello World
Hello World

In [ ]:
def do_sum(a,b):
  c = a + b
  print(c)

do_sum(7,4)
do_sum(3,2)

11
5

In [ ]:
#create a function to check a number is even or odd..?

#print(7 % 2)
#print(8 % 2)

def evenorodd(num):
  if num%2 == 1:
    print("Odd")
  else:
    print("Even")

In [ ]:
evenorodd(9)
evenorodd(10)

Odd
Even

In [ ]:
from pickle import TRUE
#Create a function to check login

def login(uname,upass):
  if uname == "admin" and upass == "password":
    print("Login Successfull")
    return True
  else:
    print("Login failed")
    return False

In [ ]:
login_id = input("Enter User Id")
login_password = input("Enter Password")

status = login(login_id,login_password)
print(status)

Enter User Idadmin
Enter Passwordpassword
Login Successfull
True

In [ ]:
for i in range(0,3):
  login_id = input("Enter User Id")
  login_password = input("Enter Password")

  status = login(login_id,login_password)
  if status == True:
    break

Enter User Iddfgh
Enter Passworddfghj
Login failed
Enter User Idadmin
Enter Passwordpasswprd
Login failed
Enter User Idadmin
Enter Passwordpassword
Login Successfull

In [ ]:
#Return type
result = do_sum(9,4)
print(result)

13
None

In [ ]:
print(do_sum(9,4) * 3)

13

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [ ]:
def calc_sum(a,b):
  c = a + b
  return c

In [ ]:
result = calc_sum(9,4)
print(result)

13

In [ ]:
print(calc_sum(9,4) * 3)

39

In [ ]:
def my_demo_func(x,y):
  z = x ** y
  print(z)
  return z

In [ ]:
result = my_demo_func(10,3)
print("Square root of result" , result**0.5)

1000
Square root of result 31.622776601683793

In [ ]:
for i in range(0,10):
  if i == 7:
    break
  print(i)

0
1
2
3
4
5
6

In [ ]:
for i in range(0,10):
  if i == 7:
    continue
  print(i)

0
1
2
3
4
5
6
8
9